@{
    ViewData["Title"] = "Home Page";
}

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">SACLA Conference Paper Management System</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Easily access and manage conference papers in one central location.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a class="btn btn-lg btn-primary px-4 gap-3" asp-area="" asp-controller="Home" asp-action="News">News</a>
            <a class="btn btn-lg btn-outline-secondary px-4" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
        </div>
    </div>
</div>
