@{
    ViewData["Title"] = "News";
}

<div class="text-center">
    <h2 class="display-4">@ViewData["Title"]</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet aliquam id diam maecenas ultricies mi eget mauris. Et tortor consequat id porta. Penatibus et magnis dis parturient montes nascetur ridiculus mus. Mauris pharetra et ultrices neque ornare aenean euismod. In dictum non consectetur a erat. Dignissim cras tincidunt lobortis feugiat vivamus at augue. Fermentum iaculis eu non diam phasellus vestibulum. Dictum sit amet justo donec enim diam. Elementum nisi quis eleifend quam adipiscing vitae. Morbi tristique senectus et netus et malesuada fames ac turpis. Neque volutpat ac tincidunt vitae semper quis lectus nulla. Sem fringilla ut morbi tincidunt augue interdum. Congue mauris rhoncus aenean vel elit scelerisque mauris. Habitasse platea dictumst quisque sagittis purus sit amet volutpat consequat. Sapien nec sagittis aliquam malesuada bibendum. Sit amet commodo nulla facilisi. Eu sem integer vitae justo eget magna fermentum.
        <br />
        <br />
        Odio facilisis mauris sit amet massa vitae tortor condimentum lacinia. Eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada. Id porta nibh venenatis cras sed felis eget. Pellentesque habitant morbi tristique senectus. Mauris in aliquam sem fringilla ut morbi. Pulvinar etiam non quam lacus suspendisse faucibus interdum posuere. Amet consectetur adipiscing elit ut aliquam. Nec sagittis aliquam malesuada bibendum arcu vitae. Morbi leo urna molestie at elementum. At imperdiet dui accumsan sit amet nulla facilisi. Habitant morbi tristique senectus et netus et.
        <br />
        <br />
        Ut sem nulla pharetra diam sit amet nisl suscipit adipiscing. Diam ut venenatis tellus in metus vulputate eu scelerisque. At lectus urna duis convallis convallis tellus id. Commodo odio aenean sed adipiscing diam donec adipiscing tristique. Consectetur adipiscing elit pellentesque habitant morbi tristique. Nibh tellus molestie nunc non blandit massa enim nec. Sed euismod nisi porta lorem mollis aliquam ut porttitor leo. Accumsan sit amet nulla facilisi morbi tempus. Diam in arcu cursus euismod. Volutpat consequat mauris nunc congue nisi. Risus pretium quam vulputate dignissim. Turpis egestas maecenas pharetra convallis.
        <br />
        <br />
        Arcu odio ut sem nulla pharetra diam sit. Elit sed vulputate mi sit amet mauris commodo quis imperdiet. Sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus. Mi tempus imperdiet nulla malesuada pellentesque elit eget gravida cum. Nisi vitae suscipit tellus mauris. Vel quam elementum pulvinar etiam non quam. Amet justo donec enim diam vulputate ut pharetra sit. In hac habitasse platea dictumst vestibulum rhoncus. Tellus orci ac auctor augue mauris. Viverra orci sagittis eu volutpat odio facilisis mauris sit. Diam quis enim lobortis scelerisque fermentum dui faucibus. Felis eget velit aliquet sagittis id consectetur purus ut faucibus. Fames ac turpis egestas integer eget aliquet nibh. Id donec ultrices tincidunt arcu non sodales neque sodales ut. Ipsum a arcu cursus vitae. Odio pellentesque diam volutpat commodo. Nisi quis eleifend quam adipiscing vitae proin sagittis nisl. Dictumst quisque sagittis purus sit.
    </p>
</div>