@using Microsoft.AspNetCore.Identity
@using SACLA_App.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav flex-grow-1">
    @if (SignInManager.IsSignedIn(User))
    {
        @*<li class="nav-item">
            @if (this.User.IsInRole("Admin"))
            {
            <a class="nav-link text-light" asp-area="" asp-controller="Paper" asp-action="Index">Papers</a>
            }
            else if (this.User.IsInRole("Author"))
            {
            <a class="nav-link text-light" asp-area="" asp-controller="Paper" asp-action="Author">Papers</a>
            }
            </li>
            <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="News">News</a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
            </li>*@
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Paper" asp-action="Index">Papers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="News">News</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Paper" asp-action="Index">Papers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="News">News</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
        </li>
    }
</ul>